body {
    height: 100vh;
    width: 100%;
}

.solid-border {
    height: 30vh;
    width: 95%;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    display: flex;
}

.purple {
  height: 60%;
  width: 5%;
  background-color: purple;
   
}

.green {
    width: 200px;
	height: 100px;
    background: rgb(70, 167, 70);
    
}

.blue {
    width: 100px;
	height: 100px;
	background: lightskyblue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.dotted-border {
    height: 40vh;
    width: 95%;
    margin: 5px;
    border-style: dotted;
    border-color: black;
    padding: 5px;
   

}

.yellow-box {
    box-shadow: 5px 10px #888888;
    border: none;
    background-color: lightgoldenrodyellow;
    height: 80%;
    width: 80%;
       
}

.hello {
    box-shadow: 5px 10px lightgray;
    border: solid;
    border-color: lightgray;
    height: 
}
